# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
*.egg

# Virtual env
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Cache
*.cache
.osint_toolkit_cache.json

# Reports
osint_report.*
*.html

# Proxies (НЕ коммитить)
.osint_proxies.txt

# Maigret temp
maigret_*/
test_maigret*/
