[MASTER]
ignore=sherlock_builtin,sherlock_project
ignore-patterns=^\..*

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-few-public-methods,
    invalid-name,
    broad-except,
    bare-except,
    fixme,
    consider-using-f-string

[FORMAT]
max-line-length=120

[BASIC]
good-names=i,j,k,ex,Run,_

[DESIGN]
max-args=10
max-attributes=15